body {
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    
}

header {
    padding: 30px;
    background-color: aquamarine;
    text-align: center;
    border-style: groove;
    border-color: black;
    border-width: 1px;
}

.card {
    padding: 0;
    margin: 30px;
    border-style: groove;
    border-color: black;
    border-width: 1px;
}

.card-header {
    background-color: #dcd0ff;
}

.btn {
    border-style: groove;
  border-color: black;
  border-width: 1px;
}